<div class="form-group">
    <label class="col-sm-2 control-label">{{name}}</label>
    <div class="col-sm-10">
        <input name="{{id}}" id="{{id}}" class="{{className}} form-control" {{attributes}} value="[[values.{{id}}]]" />
    </div>
</div>